* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, 
               BlinkMacSystemFont, 
               "Segoe UI", 
               Roboto, 
               Oxygen,
               Ubuntu,
               Cantarell,
               "Fira Sans",
               "Droid Sans",
               "Helvetica Neue", 
               sans-serif;
}

body {
  background-color: #fff;
}

ul.chat {
  list-style: none;
}

.chat {
  width: 100vw;
  margin: 0 auto;
  overflow: auto;
}
.chat .chat__entry {
  margin: .5em;
}

.chat__entry {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  max-width: 100%;
}

.chat__entry.chat__entry--mine {
  flex-direction: row-reverse;  
}

.chat__entry__avatar {
  flex-shrink: 0;
  flex-grow: 0;
  z-index: 1;
  height: 32px;
  width: 32px;
  border-radius: 16px;
}

.chat__entry.chat__entry--mine 
.chat__entry__avatar {
  display: none;
}

.chat__entry .chat__entry__message {
  position: relative;
  margin: 0 12px;
}

.chat__entry .chat__entry__message::before {
  position: absolute;
  right: auto;
  bottom: .6em;
  left: -12px;
  height: 0;
  content: '';
  border: 6px solid transparent;
  border-right-color: #ddd;
  z-index: 2;
}

.chat__entry.chat__entry--mine .chat__entry__message::before {
  right: -12px;
  bottom: .6em;
  left: auto;
  border: 6px solid transparent;
  border-left-color: #08f;
}

.chat__entry__message {
  background-color: #ddd;
  padding: .5em;
  border-radius: 4px;
  font-weight: lighter;
  max-width: 70%;
}

.chat__entry.chat__entry--mine .chat__entry__message {
  border-top: 1px solid #07f;
  border-bottom: 1px solid #07f;
  background-color: #08f;
  color: #fff;
}

.chat__entry__message .chat__timestamp {
  display: none;
}

.form__container {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}

#form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.button {
    border:0;
	margin:0;
	padding: .6875rem 2rem;
	cursor:pointer;
	font-size: 1rem;
	color: #fff;
	background: #08f;
}

.form__inputs {
    max-width: 100%;
    display: flex;

}

.form__input {
    width: 100%;
    padding: 0.5em;
    font-size: 14px;
}

#message {
    flex-grow: 2;
}

input:focus {
    outline: none;
}
input[type="text"]:focus {
    outline: 1px solid #08f;
}