* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: -apple-system, 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto, 
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue", 
    sans-serif;
}

html, body, #app, .wrapper {
  height:100%;
  min-height:100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.chat {
  list-style: none;
  width: 100vw;
  padding: .5em;
  overflow-y: scroll;
  flex: 100;
}

.chat__entry {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  max-width: 100%;
}

.chat__entry + .chat__entry {
  margin-top: .8em;
}

.chat__entry--mine {
  flex-direction: row-reverse;  
}

.chat__entry__avatar {
  height: 32px;
  width: 32px;
  border-radius: 16px;
}

.chat__entry--mine 
.chat__entry__avatar {
  display: none;
}

.chat__entry__message {
  position: relative;
  margin: 0 .8em;
}

.chat__entry__message::before {
  position: absolute;
  bottom: .6em;
  left: -12px;
  right: auto;
  content: '';
  border: 6px solid transparent;
  border-right-color: #ddd;
}

.chat__entry.chat__entry--mine
.chat__entry__message::before {
  right: -12px;
  bottom: .6em;
  left: auto;
  border: 6px solid transparent;
  border-left-color: #08f;
}

.chat__entry__message {
  background-color: #ddd;
  padding: .5em;
  border-radius: 4px;
  font-weight: lighter;
  max-width: 70%;
}

.chat__entry.chat__entry--mine .chat__entry__message {
  background-color: #08f;
  color: #fff;
}

.form__container {
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  border: 1px solid #ddd;
  padding: .5em;
  flex: 1;
  background-color: #fff;
}

#form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.button {
  border: 0;
  margin: 0;
  padding: .685rem 2rem;
  cursor: pointer;
  font-size: 1rem;
  color: #fff;
  background: #08f;
  border: 1px solid #08f;
}

.form__inputs {
  max-width: 90vw;
  display: flex;
  flex-grow: 1;
  margin-right: .5em;
}

.form__input {
  height: 100%;
  width: 100%;
  padding: .685rem;
  font-size: 14px;
  flex: 1;
}

.form__input + .form__input {
  margin-left: .5em;
}

#message {
  flex: 3;
}

input:focus {
  outline: none;
}
input[type="text"]:focus {
  outline: 1px solid #08f;
}